.menu-item {
	padding-top: 30px;
}

.phone-container {
	float: right;
	text-align: right;
	display: block;
}

@media(max-width: 767px){
	.phone-container {
		display: none;
	}
}
.phone-number, .header-slogan {
	display: block;
	color: #549c2d;
	font-size: 43px;
	font-weight: 800;
	line-height: 45px;
	letter-spacing: -1px;
	position: relative;
	padding-left: 38px;
}

.phone-number:before {
	position: absolute;
	content: "\f10b";
	font-family: 'FontAwesome';
	font-weight: 400;
	font-size: 63px;
	color: #c9c9c9;
	top: -5px;
	left: 0;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.phone-number:hover:before {
	color: #549c2d;
	font-size: 67px;
}

@media (max-width: 1199px) {
  .phone-number {
    font-size: 18px;
    line-height: normal;
  }
  .phone-number:before {
  	font-size: 35px;
  }
  .phone-number:hover:before {
	font-size: 35px;
  }
}

.menu-item-type {
	display: block;
	float: right;
}

.menu-item-name {
	float: left;
}

.menu-item-price {
	font-size: 27px;
	float: right;
}

.about-section p {
	text-indent: 40px;
}

.about-section img {
	padding: 20px;
}

.right {
	float: right;
}

.left {
	float: left;
}

.social-buttons {
	display: block;
	float: right;
	height: 35px;
	width: 620px;
	min-height: 35px;
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
	box-sizing: initial;
	overflow: hidden;
}

@media(max-width: 620px){
	.social-buttons {
			height: 70px;
			min-height: 70px;
			width: 100%;
	}
}

.social-buttons * {
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
	box-sizing: initial;
}

.image-loading {
	height: 370px;
	width: 370px;
	min-height: 370px;
	min-width: 370px;
}
@media (max-width: 1199px) {
	.image-loading {
			height: 303px;
			width: 303px;
			min-height: 303px;
			min-width: auto;
        }
}
@media (max-width: 991px) {
	.image-loading {
		height: 370px;
		width: 370px;
		min-height: 370px;
		min-width: 370px;
	}
}
@media(max-width: 400px){
	.image-loading {
		height: auto;
		min-height: auto;
		min-width: auto;
		min-width: auto;
	}
}
@media(max-width: 450px){
	.rd-mobilepanel_title img {
		display: none;
	}
}
