.menu-item {
	padding-top: 30px;
}

.phone-container {
	float: right;
	text-align: right;
	display: block;
}

.phone-number, .header-slogan {
	display: block;
	color: #549c2d;
	font-size: 43px;
	font-weight: 800;
	line-height: 45px;
	letter-spacing: -1px;
	position: relative;
	padding-left: 38px;
}

.phone-number:before {
	position: absolute;
	content: "\f10b";
	font-family: 'FontAwesome';
	font-weight: 400;
	font-size: 63px;
	color: #c9c9c9;
	top: -5px;
	left: 0;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.phone-number:hover:before {
	color: #549c2d;
	font-size: 67px;
}

.menu-item-type {
	display: block;
	float: right;
}

.menu-item-name {
	float: left;
}

.menu-item-price {
	font-size: 27px;
	float: right;
}

.about-section p {
	text-indent: 40px;
}

.about-section img {
	padding: 20px;
}

.right {
	float: right;
}

.left {
	float: left;
}
